<h1>My Book</h1>
<% @friends.each do |friend| %>
  <h5><%=friend.name%></h5>
  <%if friend.home_number && friend.mobile_number%>
    <h6><%=friend.home_number%>  |  <%=friend.mobile_number%></h6>
  <%elsif !friend.home_number%>
    <h6><%=friend.mobile_number%></h6>
  <%else%>
    <h6><%=friend.home_number%></h6>
  <%end%>
</div>
<%if friend.email%>
  <p>Email: </br><%= friend.email %></p>
<%end%>
<%if friend.address%>
  <p>Address: </br><%= friend.address %></p>
<%end%>
<%= link_to "edit", edit_friend_path(friend), class: "btn btn-outline-success"%>
<%= button_to "Delete", friend_path(friend),  class: "btn btn-outline-danger", method: :delete, form: { data:{ turbo_confirm: 'Are you sure?'}}%>
<%end%>
