<h1 class= "text-center" >My Book</h1>
<% @friends.each do |friend| %>
    <div class = "container justify-content-center ">
        <div class = "row justify-content-center">
            <div class="card shadow mt-2" style="width: 30rem;">
                <div class="card-body">
                    <h5 class="card-title text-center"><%=friend.name%></h5>
                    <div class= "container">
                    <%if friend.home_number and friend.mobile_number%>
                        <h6 class="card-subtitle mb-2 text-muted text-center"><%=friend.home_number%>  |  <%=friend.mobile_number%></h6>
                    
                    <%elsif !friend.home_number%>
                        <h6 class="card-subtitle mb-2 text-muted"><%=friend.mobile_number%></h6>

                    <%else%>
                        <h6 class="card-subtitle mb-2 text-muted"><%=friend.home_number%></h6>
                    <%end%>
                    
                    </div>
                    <%if friend.email%>
                        <p class="card-text text-center">Email: </br><%= friend.email %></p>
                    <%end%>

                    <%if friend.address%>
                        <p class="card-text text-center">Address: </br><%= friend.address %></p>
                    <%end%>
                    <div class= "container text-center">
                        <div class="btn-group">
                            <%= link_to "edit", edit_friend_path(friend), class: "btn btn-outline-success"%>
                            <%= button_to "Delete", friend_path(friend),  class: "btn btn-outline-danger", method: :delete, form: { data:{ turbo_confirm: 'Are you sure?'}}%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
<%end%>
