
<div class="form-content">
<h1><%="#{@page}"%></h1>
<%= form_with(model: @user, local: true) do |f| %>
  <p>
    <%= f.label :name%>
    <%= f.text_field :name%>
  </p>
  <p>
    <%= f.label :email%>
    <%= f.email_field :email%>
  </p>
  <p>
    <%= f.label :password%>
    <%= f.password_field :password%>
  </p>
  <%= f.submit(@user.new_record? ? "Sign up" : "Update account")%>
<%end%>
</div>