<nav class="navbar">
  <%= link_to "FriendsBook", friends_path, class: "logo nav-item" %>
  <%if logged_in?%>
    <div class="nav-links">
      <%= link_to "My Book", friends_path, class: "nav-item" %>
      <%= link_to "Add Friend", "#", id: "add_friend_trigger-modal", class: "nav-item"%>
    </div>
    <div class="dropdown">
      <button class="dropdown-toggle"><%=current_user.name%></button>
      <ul class="dropdown-content hidden">
        <li><%= link_to "Edit Profile", edit_user_path(current_user)%></li>
        <li><%= link_to "Logout", logout_path%></li>
      </ul>
    </div>
  <%else%>
    <div class="nav-links">
      <%= link_to "Sign up", new_user_path, class: "nav-item" %>
      <%= link_to "Log in", login_path, class: "nav-item" %>
    </div>
  <%end%>
</nav>

