<nav>
  <%= link_to "FriendsBook", root_path %>
</button>
<%if logged_in? && current_user.admin %>
  <%= link_to "Users(Admin-Access)", users_path %>
<%end%>
<%if logged_in?%>
  <li >
    <%= link_to "My Book", friends_path %>
  </li>
  <li >
    <%= link_to "Add friend", new_friend_path %>
  </li>
<%end%>
<%if !logged_in?%>
  <li >
    <%= link_to "Sign up", new_user_path %>
  </li>
  <li>
    <%= link_to "Log in", login_path %>
  </li>
<%end%>
<%if logged_in? %>
  <li>
    <a >
      <%=current_user.name%>
    </a>
    <ul >
      <li><%= link_to "Edit Profile", edit_user_path(current_user)%></li>
      <li><%= link_to "Logout", logout_path%></li>
    </ul>
  </li>
<%end%>
</ul>
</nav>
